<!DOCTYPE html>
<html>
<head>
    <title>Employee Records</title>
    <link rel='stylesheet' href='/style.css'>
</head>
<body>
<header>
<h1>Employee Database</h1>
</header>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>